html
{
    max-width: 1200px;
    margin: 0 auto;
}

.all
{
    width: 100%;
}

header,
main,
.header__link,
.company__services
{
    width: 80%;
    margin: 0 auto;
}

.header__text,
.header__photo
{
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.header__text
{
    width: 72%;
}

.header__photo
{
    width: 19%;
}
.header__photo img
{
    max-width: 200px;
    border-radius: 50%;
}

.header__link
{
    padding:10px;
}

.header__link,
footer a
{
    text-decoration: none;
    color: #0572c1;
}

.header__link:visited
{
    color: #c0bfe8;
}

input[type="radio"]
{
    display: none;
}

input ~ label
{
    cursor: pointer;
}

input[name="actions-with-payment"] + label,
input[name="choose-bank"] + label
{
    color: #0572c1;
    display: inline-block;
    padding: 5px;
}

input[name="actions-with-payment"]:checked + label
{
    color: #000;
}

input[value="request-payment"]:not(:checked) ~ .request-payment,
input[value="pay"]:not(:checked) ~ .payment,
input[value="my-bank"]:not(:checked) ~ .payment__my-bank,
input[value="any-bank"]:not(:checked) ~ .payment__any-bank
{
    display: none;
}

input[name="choose-bank"]:checked + label
{
    color: #000;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
}

input[value="any-bank"] + label:before
{
    font-family: FontAwesome;
    content: '\f09d';
    margin-right: .5em;
}

input[value="my-bank"] + label:before
{
    font-family: FontAwesome;
    content: '\f108';
    margin-right: .5em;
}

.request-payment,
.payment,
.company__services
{
    max-width:90%;
    margin-top: 20px;
}

.payment__any-bank,
.payment__my-bank
{
    margin: 20px 0;
}

.form__card
{
    display: inline-block;
    width: 300px;
    padding: 5px;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #c0bfe8;
}

.form__card > .card__payment-system
{
    float: right;
    margin: 20px;
}

.form__card > .card__number
{
    display: block;
    width: 200px;
    margin: 10px;
}

.form__card > .card__date,
.form__card > .card__cvc
{
    width: 50px;
    margin: 10px;
    text-align: center;
}

.form__info
{
    width: 500px;
    display: inline-block;
}

.form__list
{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.form__item
{
    padding:12px 12px 12px 0;
}

.form__list label
{
    vertical-align: top;
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    padding: 3px;
}

input:focus,
textarea
{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input:hover
{
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea
{
    height: 20px;
    width: 220px;
    padding: 5px 8px;
    border: none;
    background: none;
    border-bottom: 1px solid lightgrey;
}

textarea
{
    border: 1px solid lightgrey;
    height: 100px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus
{
    border: none;
    border-bottom: 1px solid #d9ade8;
}

textarea:focus
{
    border: 1px solid #d9ade8;
}

.list-radio-button
{
    display: inline-block;
}

.list-radio-button label
{

    margin: 0 1%;
    padding: 0;
    display: inline-block;
    width: 30%;
    color: #0572c1;
}

input[name="VAT"]:checked + label
{
    color: #000;
}

.button_beautiful
{
    position: relative;
    background: url("images/buttom_background.png");
    height: 65px;
    width: 250px;
}

.button_beautiful > button
{
    opacity: .7;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 2px solid #000;
    background: none;
    height: 55px;
    width: 240px;
}

.button_beautiful > button:hover
{
    opacity: .5;
}

.company__services
{
    display: flex;
}

.company__services > .service
{
    width: 30%;
    margin: 0 1%;
    border: 1px solid #c0bfe8;
}
.company__services > .company__service:hover
{
    box-shadow: 2px 2px 10px #c0bfe8;
}
.service__image-container
{
    width: 90%;
    margin: 5%;

}

.service__image
{
    width: 100%;
}

.service__name,
.service__price
{
    margin: 0 1%;
    text-align: center;
}

.icons
{
    width: 40px;
}

@media screen and (max-width: 768px)
{
    .header__photo,
    .header__text,
    .header__link,
    .form__info
    {
        display: block;
        width: 90%;
    }

    .header__photo
    {
        width: 200px;
    }

    .form__list label,
    .form__card
    {
        display: block;
    }

    .list-radio-button label
    {
        display: inline;
    }

    .company__services
    {
        flex-direction: column;
    }

    .company__services .company__service
    {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
}